description = "Информация пациентам"
[viewBag]
snippetCode = "informaciya-pacientam"
snippetName = "Информация пациентам"
==
<section></section>
<section>
  <div class="container informaciya">
    <div class="row">
      <div class="col-12">
        <h1>Информация пациентам</h1>
      </div>
      <div class="col-12">
        <h2>1. Информация о медицинской организации:</h2>
        <h3>1.1. Полное наименование, место нахождения, включая обособленные структурные подразделения (при их наличии), почтовый адрес, схема проезда.
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <p>OOO Медицинская клиника <nobr>«Мед-Студио»</nobr></p>
        <p>
          <b>Адрес:</b> <br>
          352900, Ставропольский край, г. Ставрополь, ул. Партизанская, 2Б</p>
        <p> <b>Тел:</b> +7 (8652) 74-88-74<br>
          <b>Эл. почта:</b> <a href="mailto:medstudio26@gmail.com">medstudio26@gmail.com</a></p>
        <p><b>Юридический адрес:</b> <br>
          352900, Ставропольский край, г. Ставрополь, ул. Партизанская, 2Б</p>
      </div>
      <div class="col-md-4">
        <p>
          <b>Банковские реквизиты:</b> <br>
          ИНН: 263 410 0513<br>
          КПП: 263 401 001<br>
          ОГРН: 1172651015778<br>
          Р /Сч.:
          БИК: <br>
          Кор. Сч.: <br>
          <br>
          Филиал
        </p>
      </div>
      <div class="col-md-4">
        <p>
          <b>Директор</b> OOO Медицинская клиника  <nobr>«Мед-Студио»</nobr> <br>
          Еременко Алексей Алексеевич
        </p>
        <p>
        	{# <a href="/kontakty"></a> #}
        	<a href = "{{ '/kontakty' }}">Схема проезда в клинику</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h3>1.2. Дата государственной регистрации, сведения об учредителе (учредителях).</h3>
        <p>ОГРН 1172651015778, Свидетельство серия 23 № 003169595, выдано ИФНС России  г. Ставрополя 18.07.2017 г.
          <br>
          Учредитель: Еременко Алексей Алексеевич, тел. +7 (8652) 74-88-74, E-mail: <a href="mailto:medstudio26@gmail.com">medstudio26@gmail.com</a>
        </p>
        <h3>1.3. Режим и график работы.</h3>
        <p>
          <b>ул. Партизанская, 2Б</b> Пн.-Сб. с 09:00 до 20:00 <br>
          <p>
            Прием врачами специалистами по записи в дни и часы работы стоматологии.
          </p>
          <h3>
            1.4. Контактные телефоны, номера телефонов справочных служб, адреса электронной почты.</h3>
          <p>
            <b>Телефон регистратуры: </b>
            +7 (8652) 74-88-74
          </p>
          <p>
            адрес эл. почты: <a href="mailto:medstudio26@gmail.com">medstudio26@gmail.com</a>
          </p>
          <h3>
            1.5. График приема граждан руководителем медицинской организации с указанием телефона, адреса электронной почты.
          </h3>
          <p>
            График приёма граждан руководителем медицинской организации
            ООО Медицинская клиника «Мед-Студио»<br><br>
            <b>Директор</b> - Еременко Алексей Алексеевич<br>
            <b>Главный врач</b> — Еременко Алексей Алексеевич<br>
            <b>Адрес:</b>
            355005, Ставропольский край, г. Ставрополь , ул. Партизанская, 2Б<br>
            <b>Тел:</b> +7 (8652) 74-88-74 <br>
            Дни и часы приёма: понедельник с 12:00 до 13:00 по предварительной записи.<br>
            Эл. почта: <a href="mailto:centravicenna@gmail.com">centravicenna@gmail.com</a>
            <p>
              <h3><a href="{{ 'assets/doc/structura-i-upravlenie.docx'|theme }}" target="_blank" rel="noopener noreferrer">1.6. Структура и органы управления</a></h3>
              <h3><a href="{{ 'assets/doc/pravila-vnutrennego-rasporyadka-n.doc'|theme }}" target="_blank" rel="noopener noreferrer">1.7. Правила внутреннего распорядка для потребителей услуг</a></h3>
              <h2>2. Адреса и контактные телефоны органа исполнительной власти субъекта Российской Федерации в сфере охраны здоровья, территориального органа Федеральной службы по надзору в сфере здравоохранения, территориального органа Федеральной службы по надзору в сфере защиты прав потребителей и благополучия человека.</h2>
              <p>
                <ul>

                  <li>Орган, выдавший лицензию на медицинскую деятельность: Министерство здравоохранения Ставропольского края, находящегося по адресу: ул. Маршала Жукова, 42/311, Ставрополь, Ставропольский край, 355017. Телефон: 8 (800) 200-26-03 </li>

                  <li>Орган исполнительной власти субъекта Российской Федерации в сфере охраны здоровья граждан Министерство здравоохранения Ставропольского края, находящегося по адресу: ул. Маршала Жукова, 42/311, Ставрополь, Ставропольский край, 355017</li>

                  <li>Территориальный орган Федеральной службы по надзору в сфере здравоохранения: Управление Росздравнадзора по Ставропольскому краю в г. Ставрополь, ул. Голенева, д. 67Б, тел.: 8 (8652) 29-60-27</li>

                  <li>Территориальный орган Федеральной службы по надзору в сфере защиты прав потребителей и благополучия человека: Отдел по защите прав потребителей, г. Ставрополь, пер. Фадеева, 4, тел.: 8 (865) 229-86-39.</li>

                </ul>
              </p>

              <h2>3. Сведения о страховых медицинских организациях, с которыми заключены договоры на оказание и оплату медицинской помощи по обязательному медицинскому страхованию.</h2>
              <p>ООО Медицинская клиника «Мед-Студио» не имеет договоров со страховыми медицинскими организациями на оказание и оплату медицинской помощи по обязательному медицинскому страхованию.
              </p>
              <h2>4. О правах и обязанностях граждан в сфере охраны здоровья.</h2>
              <p>Федеральный закон от 21.11.2011 г. № 323-Фз «Об основах охраны здоровья граждан в Российской федерации»
              </p>
              <h2>5. О медицинской деятельности медицинской организации:</h2>
              <h3>5.1. О наличии лицензии на осуществление медицинской деятельности.</h3>
              <p>Лицензия на осуществление медицинской деятельности № ЛО-26-01-004288 от 04.12.2017 г., выдана Министерством здравоохранения Ставропольского  края, находящегося по адресу: ул. Маршала Жукова, 42/311, Ставрополь, Ставропольский край, 355017. Телефон: 8 (800) 200-26-03</p>


              <h3>5.2. Медицинские услуги:</h3>
              <ul>
                <li>Диагностика стоматологических заболеваний.</li>
                <li>Консультации врачей стоматологов — хирургов, терапевтов, гигиенистов, пародонтологов, ортодонтов, имплантологов, ортопедов.</li>
                <li>Терапевтическая стоматология - лечение кариеса и его осложнений, с применением современных методов и материалов; комплексное лечение заболеваний пародонта.</li>
                <li>Хирургическая стоматология — удаление зубов, зубосохраняющие операции, имплантация.</li>
                <li>Ортопедическая стоматология — протезирование любой степени сложности.</li>
                <li>Ортодонтическое лечение — исправление прикуса в любом возрасте.</li>
                <li>Профессиональный уход и гигиена полости рта — комплексная профессиональна гигиена полости рта.</li>
                <li>Рентгенологическое обследование — ОПТГ, радиовизиография, компьютерная 3D-диагностика.</li>
              </ul>


              <h3>5.3. О возможности получения медицинской помощи в рамках программы государственных гарантий бесплатного оказания гражданам медицинской помощи и территориальных программ государственных гарантий бесплатного оказания гражданам медицинской помощи.</h3>
              <p>ООО Медицинская клиника «Мед-Студио» не оказывает медицинскую помощь в рамках программы государственных гарантий бесплатного оказания гражданам медицинской помощи и территориальной программы государственных гарантий бесплатного оказания гражданам медицинской помощи.</p>
              <p>Медицинские организации для получения медицинской помощи без взимания платы в рамках программы государственных гарантий бесплатного оказания гражданам медицинской помощи:</p>
              Городская стоматологическая поликлиника №1 города Ставрополя<br>
              тел: 8 (865) 277-80-88 (ул. Доваторцев, 50/2)<br>


              <h3><a href="{{ 'assets/doc/pravila-zapisi-na-priem.doc'|theme }}" target="_blank" rel="noopener noreferrer">5.4. Правила записи на первичный прием/консультацию/обследование в поликлиническое отделение ООО Медицинская клиника «Мед-Студио»</a></h3>

              <h3><a href="{{ 'assets/doc/pravila-predostavlenia-uslug.doc'|theme }}" target="_blank" rel="noopener noreferrer">5.5. Правила предоставления платных медицинских услуг</a></h3>
              <h3>5.6. Образец договора на оказание платных медицинских услуг</h3>
              <p><a href="{{ 'assets/doc/dogovor-s-pacientom.zip'|theme }}" target="_blank" rel="noopener noreferrer">Договор на оказание платных медицинских услуг</a></p>

              <h3>5.7. Прейскурант платных медицинских услуг ООО Медицинская клиника «Мед-Студио»</h3>
              <ul>
                <li>Прейскурант платных медицинских услуг ул. Партизанская, 2Б <b>(добавить ссылку)</b></li>
                <li>Информированное согласие на проведение стоматологического лечения ч.1<b> (добавить ссылку)</b></li>
                <li>Информированное согласие на проведение стоматологического лечения ч.2 </b>(добавить ссылку) <b></li>
              </ul>




              <h2>6. Политика ООО Медицинская клиника «Мед-Студио» в отношении обработки персональных данных </h2>
              <h3><a href="{{ 'assets/doc/soglasie-na-obrabotku-dannih.pdf'|theme }}" target="_blank" rel="noopener noreferrer">6.1. Согласие пациента на обработку персональных данных</a></h3>
              <h3><a href="{{ 'assets/doc/soglasie-na-obrabotku-dannih.docx'|theme }}" target="_blank" rel="noopener noreferrer">6.2. Согласие пациента на обработку персональных данных на сайте med-studio.ru.</a></h3>
              <h3><a href="{{ 'assets/doc/polnii-tekst-polojenia-o-obrabotke-dannih.docx'|theme }}" target="_blank" rel="noopener noreferrer">6.3. Полный текст положения об обработке и защите персональных данных пользователей веб-сайта med-studio.ru.</a></h3>
              <h2><a href="{{ 'assets/doc/spisok-oborudovania.docx'|theme }}" target="_blank" rel="noopener noreferrer">7. Перечень медицинского оборудования ООО Медицинская клиника «Мед-Студио»</a></h2>


              <h2><a href="{{ '/vrachi' }}" target="_blank">8. Сведения о медицинских работниках ООО Медицинская клиника «Мед-Студио»</a></h2>
              <h2>9. Сведения о вакантных должностях</h2>
              <p>На данный момент в ООО Медицинская клиника «Мед-Студио» вакантные должности отсутствуют.</p>
              <h2>10. Нормативные документы </h2>
              <ul>
                <li>Постановление Главного государственного санитарного врача РФ от 13.07.2001 N 18 (ред. от 27.03.2007) «О введении в действие Санитарных правил — СП 1.1.1058-01»</li>
                <li>Постановление Правительства РФ от 25.12.2001 N 892 (ред. от 30.12.2005) «О реализации Федерального закона «О предупреждении распространения туберкулеза в Российской Федерации»</li>
                <li>Федеральный закон от 30.03.1999 N 52-ФЗ (ред. от 29.12.2014) «О санитарно-эпидемиологическом благополучии населения»</li>
                <li>Федеральный закон от 18.06.2001 N 77-ФЗ (ред. от 28.12.2013, с изм. от 04.06.2014) «О предупреждении распространения туберкулеза в Российской Федерации»</li>
                <li>Федеральный закон от 21.11.2011 N 323-ФЗ (ред. от 31.12.2014) «Об основах охраны здоровья граждан в Российской Федерации»</li>
                <li>Постановление Главного государственного санитарного врача РФ от 09.12.2010 N 163 «Об утверждении СанПиН 2.1.7.2790-10 «Санитарно-эпидемиологические требования к обращению с медицинскими отходами» (вместе с «СанПиН 2.1.7.2790-10. Санитарно-эпидемиологические правила и нормативы...») (Зарегистрировано в Минюсте РФ 17.02.2011 N 19871).</li>
                <li>Постановление Главного государственного санитарного врача РФ от 18.05.2010 N 58 «Об утверждении СанПиН 2.1.3.2630-10 «Санитарно-эпидемиологические требования к организациям, осуществляющим медицинскую деятельность» (вместе с «СанПиН 2.1.3.2630-10. Санитарно-эпидемиологические правила и нормативы...») (Зарегистрировано в Минюсте РФ 09.08.2010 N 18094).</li>
                <li>Приказ Минздравсоцразвития России от 12.04.2011 N 302н (ред. от 15.05.2013) «Об утверждении перечней вредных и (или) опасных производственных факторов и работ, при выполнении которых проводятся обязательные предварительные и периодические медицинские осмотры (обследования), и Порядка проведения обязательных предварительных и периодических медицинских осмотров (обследований) работников, занятых на тяжелых работах и на работах с вредными и (или) опасными условиями труда» (Зарегистрировано в Минюсте России 21.</li>
                <li>Приказ Минздрава СССР от 29.09.1989 N 555 (ред. от 12.04.2011) «О совершенствовании системы медицинских осмотров трудящихся и водителей индивидуальных транспортных средств».</li>
                <li>Приказ Минздрава РФ от 28.05.2001 N 176 (ред. от 15.08.2011) «О совершенствовании системы расследования и учета профессиональных заболеваний в Российской Федерации» (вместе с «Инструкцией о порядке применения Положения о расследовании и учете профессиональных заболеваний, утвержденного Постановлением Правительства Российской Федерации от 15.12.2000 N 967») (Зарегистрировано в Минюсте РФ 27.07.2001 N 2828).</li>
                <li>&nbsp;Приказ Минздрава России от 21.03.2014 N 125н «Об утверждении национального календаря профилактических прививок и календаря профилактических прививок по эпидемическим показаниям» (Зарегистрировано в Минюсте России 25.04.2014 N 32115).</li>
                <li>Приказ Минздрава России от 30.12.2014 № 956н «Об информации, необходимой для проведения независимой оценки качества оказания услуг медицинскими организациями, и требованиях к содержанию и форме предоставления информации о деятельности медицинских организаций, размещаемой на официальных сайтах Министерства здравоохранения Российской Федерации, органов государственной власти субъектов Российской Федерации, органов местного самоуправления и медицинских организаций в информационно-телекоммуникационной сети».</li>
                <li>Федеральный закон от 23.02.2013 № 15-ФЗ «Об охране здоровья граждан от воздействия окружающего табачного дыма и последствий потребления табака».</li>
                <li>СВЕДЕНИЯ О ТЕРРИТОРИАЛЬНЫХ ОРГАНАХ ФЕДЕРАЛЬНОЙ СЛУЖБЫ ПО НАДЗОРУ В СФЕРЕ ЗДРАВООХРАНЕНИЯ.</li>
                <li>САНиПИН 2014 г Профилактика паразитарных болезней.</li>
              </ul>



              <h2>Стандартные протоколы </h2>
              <ul>
                <li><a href="{{ 'assets/doc/protokol-vedeniya-bolnykh-kariyes-zubov-utv-minzdravsotsrazvitiya-rf-17102006.pdf'|theme }}" target="_blank" rel="noopener noreferrer"> «Протокол ведения больных. Кариес зубов». (Утверждён Минздравсоцразвития 17.10.2006) </a></li>
                <li><a href="{{ 'assets/doc/standart-ot-6-fevralya-2013-g.pdf'|theme }}" target="_blank" rel="noopener noreferrer"> «Об утверждении стандарта первичной медико-санитарной помощи при приостановившемся кариесе и кариесе эмали». Приказ МЗ России от 24.12.2012г № 1490н </a></li>
                <li><a href="{{ 'assets/doc/ctandart-ot-23-yanvarya-2013-g.pdf'|theme }}" target="_blank" rel="noopener noreferrer"> «Об утверждении стандарта первичной медико-санитарной помощи при кариесе дентина и цемента». Приказ МЗ России от 24.12.2012 № 1526н </a></li>
                <li><a href="{{ 'assets/doc/protokol-vedeniya-bolnykh.pdf'|theme }}" target="_blank" rel="noopener noreferrer"> «Об утверждении стандарта медицинской помощи больным частичным отсутствием зубов (частичная вторичная адентия)». Приказ Минздравсоцразвития РФ от 22.11.2004 № 243 </a></li>
                <li><a href="{{ 'assets/doc/22-noyabrya-2004-g.pdf'|theme }}" target="_blank" rel="noopener noreferrer"> «Об утверждении стандарта медицинской помощи больным полным отсутствием зубов (полная вторичная адентия)». Приказ Минздравсоцразвития РФ от 22.11.2004 № 252 </a></li>
                <li><a href="{{ 'assets/doc/ob-utverzhdenii-standarta-meditsinskoy-pomoshchi-bolnym-s.pdf'|theme }}" rel="noopener noreferrer" target="_blank"> ​«Об утверждении стандарта медицинской помощи больным с изменениями зубов и их опорного аппарата». Приказ Минздравсоцразвития России от 01.06.2006 № 445 </a></li>
              </ul>




              <h2>Законы </h2>
              <ul>
                <li><a href="{{ 'assets/doc/O-pravah-i-obyazannostyah-grazhdan-v-sfere-zdravoohraneniya.pdf'|theme }}" target="_blank" rel="noopener noreferrer">О правах и обязанностях граждан в сфере здравоохранения</a></li>
                <li><a href="{{ 'assets/doc/perechen_zhnvlp_2018.pdf'|theme }}" target="_blank" rel="noopener noreferrer">Перечень жизненно необходимых и важнейших лекарственных препаратов для медицинского применения</a></li>
                <li><a href="{{ 'assets/doc/federalnyy-zakon-rossiyskoy-federatsii-ot-2-maya.pdf'|theme }}" target="_blank" rel="noopener noreferrer"> «Федеральный закон Российской Федерации от 2 мая 2006 г. № 59-ФЗ «О порядке рассмотрения обращений граждан Российской Федерации» </a></li>
                <li><a href="{{ 'assets/doc/federalnyy-zakon-ot-21112011-n-323-f.pdf'|theme }}" target="_blank" rel="noopener noreferrer"> «Федеральный закон от 21.11.2011 № 323-ФЗ» «Об основах охраны здоровья граждан в Российской Федерации» </a></li>
                <li><a href="{{ 'assets/doc/postanovleniye-pravitelstva-rossiyskoy-federatsii.pdf'|theme }}" target="_blank" rel="noopener noreferrer"> Постановление Правительства РФ от 4 октября 2012 г. № 1006 «Об утверждении Правил предоставления медицинскими организациями платных медицинских услуг» </a></li>
                <li><a href="{{ 'assets/doc/p1273.pdf'|theme }}" target="_blank" rel="noopener noreferrer"> Постановление Правительства Российской Федерации от 28 ноября 2014г. № 1273 </a></li>
                <li><a href="https://pdgb.ru/files/gdb_pyatigorska/doki/2020/postanovlenie_pravitel_stva_stavropol_skogo_kraya_ot_27_dekab.pdf" target="_blank" rel="noopener noreferrer"> Постановление Правительства Ставропольского края от 27 декабря 2019г. N618-п «Об утверждении Территориальной программы государственных гарантий бесплатного оказания гражданам медицинской помощи на территории Ставропольского края на 2020 год и плановый период 2021 и 2022 годов» </a></li>


                <li><a href="{{ 'assets/doc/territorialnaya_programma_stavropolskiy_kray.pdf'|theme }}" target="_blank" rel="noopener noreferrer">Постановление Правительства Ставропольского края от от 30 декабря 2020 г. N 750-п «Об утверждении территориальной программы государственных гарантий бесплатного оказания гражданам медицинской помощи на территории ставропольского края на 2021 год и плановый период 2022 и 2023 годов»</a></li>


                <li><a href="{{ 'assets/doc/prikaz_ministerstva_zdravookhraneniya_rf_ot_20_dekabrya_2012_g_no1177n.pdf'|theme }}" target="_blank" rel="noopener noreferrer"> Приказ Министерства здравоохранения РФ от 20 декабря 2012 г. №1177н </a></li>

                <li><a href="{{ 'assets/doc/federalnyj-zakon-ot-27-07-2006.pdf'|theme }}" target="_blank" rel="noopener noreferrer"> Федеральный закон от 27.07.2006 № 152-ФЗ (ред. от 22.02.2017) «О персональных данных»</a></li>
              </ul>
      </div> {# col-12 #}
    </div>
  </div>
</section>