description = "карта"

[viewBag]
snippetCode = "map"
snippetName = "карта"
==
<section></section>
<section>



	<div class="container">
		<div class="row">
			<div class="col-12">
				<h2>
					«Med Studio»
				</h2>
			</div>
			<div class="col-md-4">
				<b>Адрес: </b>
				<br>
				г. Ставрополь, <br>ул. Партизанская 2Б
			</div>
			<div class="col-md-4">
				<b>График работы: </b>
				<br>
				Пн.-Сб. с 09:00 до 20:00  <br>
				Вс. выходной
			</div>
			<div class="col-md-4">
				<b>Телефон: </b>
				<br>
				<a href="tel:+78652748874" >+7 (8652) 74-88-74</a>
			</div>

			<div class="col-12">
				<br>

		<iframe src="https://yandex.ru/map-widget/v1/?z=16&ol=biz&oid=230452519854" style='height: 450px; width: 100%;  border:0'></iframe>

			</div>
		</div>
		</div>

</section>

