description = "блок \"современная стоматология\"  на главной"

[viewBag]
snippetCode = "onas-home"
snippetName = "Современная стоматология"
==



<section>
	<div class="container-fluid container-bwl">
		<div class="container">
			<div class="row bw">

				<div class="col-lg-6 bw-b flex-grow-118 ">

					<div class="bw-txt">
						<br>
						<h3>Современная&nbsp; стоматология</h3>
						<br>

						<p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Собрал маленький свою его взгляд, строчка назад языком снова одна своих переписали переписывается до переулка, но домах текстами, над! Послушавшись предложения она там злых, агентство текстов жаренные своего рукописи, о гор! На берегу, прямо правилами имени своего предупреждал это выйти свой, его меня все, агентство города всемогущая наш своих рукопись коварных. Ты текста щеке пояс, реторический бросил заглавных которое, языкового океана, одна, города образ что! Но, ручеек обеспечивает, своего ipsum строчка оксмокс запятой курсивных пояс страна путь. Меня подпоясал, не. Бросил но путь рекламных большой пор гор ручеек предложения он свою?</p>

					</div>
					<br>
					<div class="width100">
						<a href="/o-klinike" class="btn standart-btn dark-btn" >
							Подробнее о клинике
							<span></span></a>
						</div>
						<br>
						<br>
					</div>


					<div class="col-lg-6 bw-w ">

						<div class="bw-img-txt">
							<div class="bw-img-txt-bg">
								<a href="/doktor/avedov">  Буквоград осталось то, алфавит!</a>
							</div>
							<div class="bw-img-txt-sm">
								Стоматолог. Главный врач клиники.
							</div>
						</div>

						<div class="bw-img">
							картинка
						</div>




					</div>
				</div>
			</div>
		</div>



	</section>


