description = "слайдер для страниц"

[viewBag]
snippetCode = "slider-line-page"
snippetName = "слайдер для страниц тест"
==
<div class="slider">
  <div class="swiper-button-prev-m">
    <
  </div>
  <div class="container margin_0">
    <div class="row">
      <div class="col-12">
        <div class="swiper-container">
          <!-- <div class="swiper-button-prev"></div> -->
          <!-- <div class="swiper-button-next"></div> -->
          <!-- Additional required wrapper -->

          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide card">Slide 1</div>
            <div class="swiper-slide card">Slide 2</div>
            <div class="swiper-slide card">Slide 3</div>
            <div class="swiper-slide card">Slide 4</div>
            <div class="swiper-slide card">Slide 5</div>
            <div class="swiper-slide card">Slide 6</div>
            <div class="swiper-slide card">Slide 7</div>
          </div>
          <!-- If we need pagination -->
          <div class="swiper-pagination"></div>
          <!-- If we need navigation buttons -->
          <!-- If we need scrollbar -->
          <!-- <div class="swiper-scrollbar"></div> -->
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-button-next-m">
    >
  </div>
</div>