==
<!DOCTYPE html>
<html lang="ru">
<head>
	<title>MedStudio - pop up</title>
<link rel="icon" type="image/x-icon" href="{{ 'assets/images/favicon.svg'|theme }}">
	<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="yandex-verification" content="469b6cd73a11984c" />
	{# <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> #}
	<link href="{{ 'assets/css/4.5.2.bootstrap-reboot-grid.min.css'|theme }}" rel="stylesheet">
	<link href="{{ 'assets/css/popup-medstudio.css'|theme }}" rel="stylesheet">
	<link href="{{ 'assets/css/glightbox.min.css'|theme }}" rel="stylesheet">
	 <script src="{{ 'assets/js/glightbox.min.js'|theme }}"></script>
{#	{% styles %} #}
</head>
<body>

{% page %}
{% partial 'metrika' %}
{# {% include 'metrika.html' %} #}
</body>

</html>