/*##################################################*/
/*##################################################*/
/*##################################################*/
/*##################################################*/
/*##################################################*/
/*##################################################*/

/*// Экстрамалые девайсы («телефоны», < 576px)*/
/*// Нет @media, т.к. это по умолчанию в Bootstrap*/

/*// Малые девайсы («ландшафтные телефоны», >= 576px)*/
@media (min-width: 576px) {
    .pc-hiden {
        display: none;
    }

}

/*// Средние девайсы («таблетки», >= 768px)*/
@media (min-width: 768px) {}

/*// Большие девайсы (десктопы, >= 992px)*/
@media (min-width: 992px) {

.swiper-wrapper-stretch{

   display: flex;
align-items: stretch;
height: 100% !important;
}


}

/*// Экстрабольшие девайсы (большие десктопы, >= 1200px)*/
@media (min-width: 1200px) {}

.card-person-img img {
    /*width: 80%;*/
    margin: auto;
}



/*##################################################*/
/*##################################################*/
/*##################################################*/
/*##################################################*/
/*##################################################*/
/*##################################################*/



/*// Экстрамалые девайсы («телефоны», < 576px)*/


/*// Малые девайсы («ландшафтные», < 768px)*/



/*// Большие девайсы (большие десктопы, < 1200px)*/
@media (max-width: 1199.98px) {

    .head_tel {
        /*font-size: 2em;*/
        font-size: 1.6em;
    }


    .slide-top,
    .slider-background {
        height: 329px;

    }

    .xl-mt-br-1 {
        margin-top: 1em;
    }

    .xl-mt-br-2 {
        margin-top: 2em;
    }

    .xl-mb-br-1 {
        margin-bottom: 1em;
    }

    .xl-mb-br-2 {
        margin-bottom: 2em;
    }



    .nav>li>ul>li>ul>li>ul {
        margin-left: calc(var(--menu-width)*(-1.9));
    }

    .bw-img-txt {
        width: auto;
    }

    .bw-img-txt1 {
        position: relative;
        order: 1;
        top: 1em;
        width: 80%;
        text-align: center;
        justify-content: flex-end;
        align-self: center;
    }

    .bw-w1 {
        display: flex;
        flex-direction: column;
        margin-bottom: 0em;
    }

    .arow-interior {
        left: calc((100% / 2) - 480px);
    }

}

/*// Средние девайсы («таблетки», < 992px) */
@media (max-width: 991.98px) {


.section-big-img__txt-22,
    .section-big-img__txt-2 {
        font-size: .9em;
        line-height: 1.1em;
    }

    .orion-bg-parallax .section-big-img__bg {
        height: 20em;
    }

.section-big-img__txt-1,
.section-big-img__txt-11 {
        font-size: 2.5em;
        line-height: .9em;
    }
.section-big-img__txt-22,
    .section-big-img__txt-2 {
        margin-top: 0;
        line-height: 1em;
    }

.gallerie-banner-top .btn{
font-size: 1em;
}

  .gallerie-banner-top .section-big-img__txt-2 {
        margin-top: 1em;
        font-size: 1.4em;
        line-height: 1.1em;
    }



    .bw-img-txt1 {
        top: 3em;
    }

    .bw-img-txt {
        width: auto;
        position: relative;
        text-align: center;
        margin-top: -1.5em;
        margin-bottom: 3em;
        order: 1;
    }

    .bw-b {
        background: var(--main-color);
    }

    .container-bwl {
        background: none;
        border: none;
    }

    .bw-b {
        order: 1;
    }

    .bw-w {
        margin-bottom: 2em;
        display: flex;
        flex-direction: column;
    }

    h2 {
        font-size: 2.3em;
        margin-bottom: 0.8em;
    }


    .slide-top,
    .slider-background {
        height: 244px;

    }

    .slider-background {

        margin-bottom: 3em;
    }

    .lg-mt-br-1 {
        margin-top: 1em;
    }

    .lg-mt-br-2 {
        margin-top: 2em;
    }

    .lg-mb-br-1 {
        margin-bottom: 1em;
    }

    .lg-mb-br-2 {
        margin-bottom: 2em;
    }


    .card_product a {
        font-size: 1.0em;
        line-height: 1.3em;
    }


    .card_product a .thin_text {
        font-size: 1.0rem;
    }

    .slider-top-content {
        font-size: 0.9rem;
    }

    /********** хедер ***********/
    .head_tel {
        /*font-size: 2em;*/
        font-size: 1.6em;
    }

    .btn-top {
        /*padding: 0.6em 2.2em 0.6em 2.2em;*/
        padding: 0.3em 1.2em 0.3em 1.2em;

        font-size: 0.9em;
        font-size: 0.8em;
    }

    .head_street {
        /*font-size: 1.3em;*/
        font-size: 1.3em;
        /*padding-top: 8px;*/
        /*padding-top: 4px;*/
        line-height: 1.2em;

    }


    .header-logo img {
        /*width: 9.5em;*/
        width: 8.5em;

    }


    .column_770 {
        flex-direction: column;
    }

    .head_tel {
        font-size: 1.3em;
        padding: 0em 0 .2em 0;
    }

    .head_btn {
        margin-left: 0;
        margin-top: .2em;
        /*display: none;*/

    }


    /********** /хедер ***********/

    .arow-interior {
        left: calc((100% / 2) - 360px);
    }


    .rowforever {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        min-width: 12em;
    }

    .table {
        font-size: .8em;
    }

    .table .nomination {
        padding-left: .9em;
    }

    .table .price {
        max-width: none;
        max-width: 5em;
        padding-right: 1em;
    }

    .table .pcs {
        max-width: none;
        max-width: 4em;
    }


    .table .tr .td:nth-child(2n+1) {
        /*padding: .5em 1em .1em 1em;*/
    }

    .table .tr .td:nth-child(2n) {
        /*padding: .1em 1em .5em 1em;*/
    }

    .td {

        padding: .5em 0.5em;
        line-height: 1.2;
    }

    .td {
        width: 100%;
    }


    .marquiz h2 {
        margin-top: 30px
    }

    .btn-marquiz {
        margin: 1.5em auto 1em auto;
    }

    .etapsSwiper .etap-slide-col {
        padding: 0 15px;
        width: 100%;
    }

    .etap-slide {
        flex-direction: column;
    }

    .etap-slide-txt p:last-child {
        margin-bottom: 1rem;
    }
.etaps-pagination-w50{
 width: 100%;
}

.col-lg-70p,
.col-lg-47p,
.col-lg-30p,
.col-lg-6p {

-ms-flex: 0 0 100%;
flex: 0 0 100%;
max-width: 100%;

}

.quote-block__txt_img {
    width: auto;
    margin-bottom: 1em;
}

.quote-block__img{
  margin: 1em
}

/* .img-etap{
  width: 100%;
   height: auto;
}
 */

}


@media (max-width: 767.98px) {


    .orion-bg-parallax .section-big-img__bg {
        height: 16em;
    }

    .section-big-img {
        /*border: solid;*/
    }


    .bg_right .section-big-img__bg img,
    .bg_left .section-big-img__bg img,
    .bg_center .section-big-img__bg img {
        object-position: center;
    }



    .bg_left,
    .bg_right {
        background-position: center;
    }


    .section-big-img__bg {
        height: 16em;
        overflow: hidden;
    }

    .section-big-img__bg__feadback {
        height: 18em;
        overflow: hidden;
    }

    .section-big-img__bg__feadback:before {
        content: "";
        background: #fff;
        opacity: .5;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /*z-index: 1;*/
    }



    .section-big-img__bg img {
        height: 100%;
    }

 .section-big-img__txt-1 {
        font-size: 2em;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;

    }

    .section-big-img__txt-2 {
        font-size: .8em;
        line-height: .9em;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        margin-top: 0.5em;
    }


.section-big-img__txt-11 {
        font-size: 2em;
    }
.section-big-img__txt-22 {
        font-size: .8em;
        line-height: .9em;
     }

    .no50 .section-big-img__txt-1,
    .no50 .section-big-img__txt-2 {
        -ms-flex: inherit;
        flex: inherit;
        max-width: inherit;
    }

    .bg_left .big-txt_flex {
        display: flex;
        justify-content: flex-end;
    }

    .bg_right .big-txt_flex {
        display: flex;
        justify-content: flex-start;
    }

    .bg_center .big-txt_flex {
        display: flex;
        justify-content: center;
    }



    .top-menu {
        width: 100%;
        /*background: pink;*/
    }

    /*  .top-menu > ul li .nolink, .top-menu > ul li a {
    padding: .5em 1em .5em 1em;
  }
  */
    .head_street {
        padding: 0em 0 .2em 0;
        gap: 0.5em;
    }

    .container-menu {
        /*display: none;*/
    }


    .logo {
        align-self: center;
        margin: auto;
    }

    .logo-min {
        display: none;
    }

    .logo-max {
        display: flex;
        justify-content: center;
        /*height: 100%;*/
        align-self: center;
        /*margin:  .8em 0 .8em 0;*/

    }

    .hidden-768 {
        display: none;
    }

    .visible-768 {
        display: block;
    }

    section {
        margin-bottom: 2em;
    }

    h2 {
        font-size: 2.3em;
        /*margin-bottom: .5em;*/
    }

    .section-h1__txt h1 {
        font-size: 1.625em;
    }

    .btn-top {
        padding: 0.6em 0.6em;
    }

    .top_line {
        flex-direction: column;
        height: 4.5em;
        height: auto;

    }

    .head_street {
        font-size: 1em;
        flex-direction: row;
    }

    .head_work {
        display: none;
    }

    .head_tel {
        font-size: 2em;
        line-height: 1.2em;
        align-self: center;

    }

    .top_line .icons {
        display: none;
    }


    header {
        padding: .5em 0 1em 0;
    }

    /*  .col-logo {
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    max-width: 70%;
    position: absolute;
  }

  .header-logo {
    justify-content: flex-start;
    max-width: 155px;
    margin-top: -0.2em;
  }

  .header-logo img {
    width: 6.5em;
    margin: auto;
    padding-bottom: 0.5em;

    }*/


    .logo-txt {
        font-size: .55em;
        line-height: 1.3em;
        display: flex;
    }

    .col-adres {
        /*order: 2;*/
        /*    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    position: absolute;
    top: .7em;
    right: 0;
    text-align: right;
    justify-content: flex-end;*/
    }

    .social {
        float: right;
        font-size: 1.75em;
        margin-right: 0;
    }

    /*  .social-top-mob {
    align-self: flex-end;
    top: 3.85em;
    position: absolute;
    margin-right: -.3em;
    flex-direction: row-reverse !important;

    }*/


    .social:hover {
        transition: 400ms ease all;
        border: none;
        font-size: 1.35em;
        line-height: 1.3em;
        padding: 0 0.26em 0 0.32em;
    }


    .col-connect {
        display: flex;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        position: absolute;
        right: 0;
        top: 3.0em;
    }

    /*  .head_btn .inst {
    margin-right: 0;
    }*/

    /*  .head_btn .inst {
    padding: 0 0.20rem 0 0.25rem;
    font-size: 1.7em;
    line-height: 1em;
    font-weight: 400;
  }
  */
    .slide-top,
    .slider-background {
        height: 180px;

    }

    .card_product a {
        font-size: 1.3em;
        line-height: 1.3em;
    }


    .card_product a .thin_text {
        font-size: 1.2rem;
    }


    /**** мобильное  меню ****/
    .container-menu {
        position: relative;
        z-index: 100;
    }

    #menu__toggle {
        /*display: block;*/
    }

    .patch-top_nav {
        height: 2.5em;
    }

    .top-menu {
        margin-bottom: 2.5em;
        height: auto;
        padding-bottom: 0;

    }

    .menu__btn {
        display: flex;
    }

    .txt-mob-menu {
        display: flex;

    }

    #top_nav,
    .container-menu,
    .top-menu {
        /*background: var(--hover-bg);*/
    }


    .top-menu>.nav {
        display: none;
    }

    .top-menu {
        /*width: 510px;*/
        /*background: gold;*/
        margin-top: 0;
        display: flex;
        /*display: inline-block;*/

        justify-content: flex-start;
        align-items: flex-start;
        /*display: block;*/
        padding-top: 0.3em;
    }

    .top-menu>.nav {
        position: relative;
        width: 100%;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.175);

    }

    #menu__toggle:checked~.nav {
        display: block;
        padding: 0;
        margin-top: 2.2em;
        position: relative;
        text-align: left;
        margin-bottom: 0;
    }

    .top-menu ul li:before,
    .top-menu ul li:after,
    .active :after,
    .caret {
        display: none;
    }

    .top-menu li:hover>ul {
        display: none;
    }


    .label-submenu {
        display: flex;
    }



    .top-menu ul li {
        /*background: #ccc;*/

        text-align: left;
        /*border-top: 1px solid var(--tin-line-color);*/
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

    }


    .top-menu ul li:after {
        content: "";
        height: 1px;
        width: 90%;
        display: flex;
        background: var(--tin-line-color);
        /*margin-top: 7px;*/
        position: absolute;
        margin-left: 15px;
    }

    .top-menu li>ul li a:after {
        content: "";
        height: 1px;
        width: 90%;
        display: none;
        background: var(--tin-line-color);
        margin-top: 7px;
        position: absolute;
    }



    .top-menu ul li a {
        flex-grow: 1;
    }

    .top-menu ul li a:hover {
        /*background: var(--hover-bg);*/
        background: var(--btn-color);
        color: var(--bg-html-color);
    }

    .top-menu ul li a:hover~.label-submenu {
        background: var(--hover-bg);
    }


    .top-menu li>ul li a {
        border-top: none;
    }

    .top-menu li>ul {
        position: relative;
        width: var(--menu-width);
        width: 100%;
        padding-left: 1.0em;
        box-shadow: none;
    }


    .top-menu li>ul li ul {

        position: relative;
        left: 0;

    }

    .nav>li>ul>li>ul>li>ul {
        margin-left: 0;
    }

    /**** end мобильное  меню ****/

    .slider-top-content {
        font-size: 0.7rem;
    }

    .slide-top-txt {
        margin-left: 245px;
    }


    /* страница врача */


    .photo-page-doctor {
        max-width: 100%;

    }

    .photo-page-doctor img {
        margin: 0 auto;
        max-width: 230px;
        margin-top: -20px;

    }

    .info-page-doctor h1 {
        text-align: center;
        position: relative;
        font-weight: 500;
        font-size: 1.6em;
        line-height: 1.1em;
        width: 100%;

    }

    .info-page-doctor h1::before,
    .info-page-doctor h1::after {
        display: none;

    }

    .info-page-doctor {
        margin-top: .5em;
    }

    .experience {
        font-size: 0.9em;
        font-weight: 700;
        text-align: center;
    }

    .specialities {
        margin-top: .2em;
        font-size: 0.9em;

        text-align: center;
    }

    .specialization {
        display: none;
    }

    .page-doctor-btn {
        width: 15em;
        margin: 0.7em auto 1.8em auto;

    }

    h5 {
        font-size: 0.9em;
        font-weight: 700;
        text-align: center;
        margin-bottom: 0;
    }

    .gllery-certificates {
        /*background: #000;*/
        max-width: 330px;
        margin: auto;
        margin-top: 0.5em;
    }


    /* end страница врача */


    .pagecontent__order_0 {
        /*margin-bottom: 2em;*/

    }

    .pagecontent__order_1 {
        order: 0;
        /*margin-bottom: 2em;*/
    }

    .pagecontent h2 {
        margin-bottom: 1.2em;
    }


    .video {

        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
    }


    .video iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-width: 0;
        outline-width: 0;
    }

    .video-no-proportion-1x1 {
        padding-bottom: 80%;
    }

    .video-no-proportion-4x3 {
        padding-bottom: 75%;
    }

    .video-no-proportion-16x9 {
        padding-bottom: 56.25%;
    }

    .video-no-proportion-21x9 {
        padding-bottom: 42.85%;
    }

    .priceSwiper .swiper-pagination {
        justify-content: center;
    }

    .priceSwiper .swiper-pagination-bullet {
        flex: 0;
        min-width: calc(33.33% - (0.666 * 6px));
        margin: 3px 0px !important;
    }

    .panelBvi::before {
        height: 100% !important;
    }

    .arow-interior {
        left: calc((100% / 2) - 270px);
    }
    .card-promotions-skidka-center {
        padding-top: 2em;
    }
}

/*end @media (max-width: 767.98px)*/





@media (max-width: 659.98px) {



    .swiper-button-prev-m span,
    .swiper-button-next-m span {
        position: relative;
        right: auto;
        left: auto;
        top: auto;
    }

    .arow-interior .swiper-button-next {
        right: 14px;
        left: auto;
    }

    .arow-interior .swiper-button-prev {
        left: 14px;
        right: auto;

    }

    .block-rating {
        font-size: 1.4em;
    }

    .section-big-img__txt-1,
.section-big-img__txt-11  {
        padding-top: 5px;
    }

    .btn-title {
        padding-top: 0;

    }
}




@media (max-width: 575.98px) {

    .orion-bg-parallax .section-big-img__bg {
        height: 14em;
    }


    .arow-interior {
        left: 0;
    }

    .mobile-hiden {
        display: none;

    }

    .top-menu {
        /*width: 100%;*/
        /*background: pink;*/

    }

    .txt-mob-menu {
        padding-left: 2em;
        /*background:gold;*/
    }

    /*.container-menu-0{
  padding: 0 15px;
}
*/

    header {
        padding: 1em 0 1em 0;

    }

    h2 {
        font-size: 2.0em;
        line-height: 1.1em;
    }



    .slider-top-content {
        font-size: 0.6rem;
        justify-content: flex-end;
    }

    .slider-top-content-img img {
        margin-left: -50px;
    }

    .slide-top-txt {
        margin-left: 0;
        padding-right: 0.4em;

    }

    .top-50 {
        margin-top: -2rem;
    }


    .question {
        font-size: 1.0em;
        line-height: 1.2;
    }

    .priceSwiper .swiper-pagination {
        /*padding: 0 15px;*/
    }

    .priceSwiper .swiper-pagination-bullet {
        font-size: .8em;
    }

.gallerie-banner-top .btn{

font-size: 0.9em;
}


.section-big-img__txt-11 {
        font-size: 1.8em;

    }

    .section-big-img__txt-1{
        font-size: 1.8em;
        -ms-flex: 0 0 70%;
        flex: 0 0 70%;
        max-width: 70%;

    }

    .section-big-img__txt-2 {
        -ms-flex: 0 0 60%;
        flex: 0 0 60%;
        max-width: 60%;
    }



}

@media (max-width: 459.98px) {

    .card_product a {
        font-size: 1.1em;
        line-height: 1.3em;
    }


    .card_product a .thin_text {
        font-size: 1.0rem;
    }


    .slider-top-content {
        font-size: 0.5rem;

    }

    .slider-top-content-img img {
        margin-left: -10px;
    }

    .section-h1__txt h1 {
        font-size: 1.4em;
    }


    .priceSwiper .swiper-pagination-bullet {
        min-width: calc(50% - (0.5 * 6px));
        font-size: .8em;
    }
.etapsSwiper .btn{
  font-size: .8em;
  padding: 6px 4px;
}

/* .quote-block blockquote {
  font-size: .8em;
  line-height: 1.4em;

} */
}

@media (max-width: 413.98px) {

    .marquiz .col-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }

}



@media (max-width: 392.98px) {
    section {
        margin-top: 0em;
    }

    h2 {
        font-size: 1.8em;
        /*margin-bottom: .5em;*/
    }

    /*
  .col-adres {
    margin-top: .3em;
  }

  .col-adres h1 {
    font-size: 2.2em;
  }

  .col-adres h1,
  .col-adres h1 span {
    line-height: .6em;
    font-weight: 500;
  }

  .col-adres h1 span {
    font-size: .68em;
  }



  .col-logo {
    -ms-flex: 0 0 6.25em;
    flex: 0 0 6.25em;
    max-width: 6.25em;

  }

  .col-connect {
    margin-top: .6em;
  }
  */
}

@media (max-width: 389.98px) {

    .card_product a {
        font-size: 1.0em;
        line-height: 1.3em;
    }

    .card_product a .thin_text {
        font-size: 1.0rem;
    }

    .promotions-price_current,
    .promotions-price_old {
        font-size: 1.8em;

    }

}

@media (max-width: 359.98px) {

    /*  .col-logo {
    -ms-flex: 0 0 93px;
    flex: 0 0 93px;
    max-width: 90px;
    top: 0.9em;

  }

  .col-adres h1 {
    font-size: 1.8em;
  }

  .col-connect {
    margin-top: .25em;
  }



    h2 {
      font-size: 1.8em;
      line-height: 1.0em;
    }
    .slider-top-content{
     font-size: 0.5rem;
   }

   .slider-top-content-img img{
    margin-left:-25px;
  }
  .slide-top,
  .slider-background {
    height: 160px;

  }
  .slide-top-txt{
    margin-top: -30px;
    }*/
    .section-big-row {
        font-size: .9em;
    }

    .header-logo img {
        width: 6.1em;
        margin: auto;
        padding-bottom: 0.5em;
        /*padding-bottom: 0.1em;*/

    }



    .head_tel {
        font-size: 1.3em;
        line-height: 1.2em;
    }

    .social-top-mob {
        top: 3.65em;
    }

    .promotions-price_current,
    .promotions-price_old {
        font-size: 1.5em;

    }

}


@media (max-width: 320px) {
    .priceSwiper .swiper-pagination-bullet {
        min-width: 100%;
    }

    .block-rating {
        font-size: 1.2em;
    }
}
